<%-include('header.ejs') %>



<% if (locals.subTitle) { %>
    <h1><%= title %></h1>
    <br />
    <h2 class="animation"><%= locals.subTitle %></h2>
<% } else { %>
    <h1 class="animation"><%= title %></h1>
<% } %>

<%-include('footer.ejs') %>